{{#each this}}

<div class="card-info">
    <h2>{{name}}</h2>
    <ul class="card-list">
        <li class="capital">Capital: {{capital}}</li>
        <li class="population">Population: {{population}}</li>
        <li class="languages">Languages:
            <ul class="languages-list">
                {{#each languages}}
                <li class="languages-item">{{this.name}}</li>
                {{/each}}
            </ul>
        </li>

    </ul>
</div>
<img src="{{flag}}" alt="флаг {{name}}" width=300 class='img_flag'>`;
{{/each}}